@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Answer Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />
</head>
<body>
    <p>@Model.PlayerName</p>
    <p>@Model.ActualQuestion.Text</p>
    <p>@Model.ActualQuestion.Answer1</p>
    <form action="question" method="post">
        <input type="hidden" name="PlayerName" value="@Model.PlayerName" />
        <input type="hidden" name="LevelAchieved" value="@Model.LevelAchieved" />
        <input type="hidden" name="PhoneHelpIsAvailable" value="@Model.PhoneHelpIsAvailable" />
        <input type="hidden" name="AudienceHelpIsAvailable" value="@Model.AudienceHelpIsAvailable" />
        <input type="hidden" name="HalferHelpIsAvailable" value="@Model.HalferHelpIsAvailable" />
        <input type="hidden" name="ActualQuestion" value="@Model.ActualQuestion" />
        <input type="hidden" name="AvailableQuestions" value="@Model.AvailableQuestions" />
        <input type="hidden" name="IsWon" value="@Model.IsWon" />

        <button class="btn btn-lg active btn-primary" name="Continue" value="hello" type="submit">Continue</button>
    </form>
</body>
</html>
