@model QuizApp.Models.Game

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />
</head>
<body>
    <p>Hello, @Model.PlayerName</p>
    <p>Your actual level of Foxiness: @(Model.LevelAchieved + 1)</p>
    <p>@Model.ActualQuestion.Text</p>

    @if (Model.AudienceHelpResult > 0)
    {
        <p>The audience suggests the answer #@Model.AudienceHelpResult</p>
    }
    @if (Model.PhoneHelpResult > 0)
    {
        <p>Your buddies on the phone suggest the answer #@Model.PhoneHelpResult</p>
    }

    <form action="answer" method="post">
        <div class="answer-buttons">
            <button class="btn btn-lg active btn-primary" name="chosenAnswer" value="1" type="submit">@Model.ActualQuestion.Answer1</button>
            <button class="btn btn-lg active btn-primary" name="chosenAnswer" value="2" type="submit">@Model.ActualQuestion.Answer2</button>
            @if (!String.IsNullOrEmpty(@Model.ActualQuestion.Answer3))
            {
                <button class="btn btn-lg active btn-primary" name="chosenAnswer" value="3" type="submit">@Model.ActualQuestion.Answer3</button>
            }
            @if (!String.IsNullOrEmpty(@Model.ActualQuestion.Answer4))
            {
                <button class="btn btn-lg active btn-primary" name="chosenAnswer" value="4" type="submit">@Model.ActualQuestion.Answer4</button>
            }
        </div>
    </form>
    <p>Helps</p>
    <form action="help" method="post">
        <div class="help-buttons">
            <button class="btn btn-lg active btn-primary" name="chosenHelper" @(Model.PhoneHelpIsAvailable ? "" : "disabled") value="Phone" type="submit">Phone-a-Friend</button>
            <button class="btn btn-lg active btn-primary" name="chosenHelper" @(Model.AudienceHelpIsAvailable ? "" : "disabled") value="Audience" type="submit">Audience</button>
            <button class="btn btn-lg active btn-primary" name="chosenHelper" @(Model.HalferHelpIsAvailable ? "" : "disabled") value="Halfer" type="submit">Halfer</button>
        </div>
    </form>
</body>
</html>